/*Class Values*/
.App {
  text-align: left;
}

.App-header {
  background-color: #3A3B3C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.snowstorm-kraft {
  font-family: 'snowstorm-kraft', sans-serif;
}

.zeronia-logo {
  position: absolute;
  top: 3%;
  left: 2%;
  height: 10vmin;
  /*Have this route back to the home page*/
  pointer-events: none;
  display: flex;
  align-items: center;
}

/*ID values*/
#logo-picture {
  flex: 0 0 auto;
  margin-right: 20px;
}

#logo-text {
  display: flex;
  align-items: center;
  font-size: 250%;
}

/*Rules*/
@font-face {
  font-family: 'snowstorm-kraft';
  src: url('fonts/snowstorm kraft.otf') format('opentype');
}